

/*.home {
    display: flex;
    background: url("Images/doggy.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    width: 100%;
    background-attachment: fixed;
    color: #fff;
    min-height: 500px;
    font-family: 'ubuntu', sans-serif;*/
    /*// linear-gradient(rgb(27, 26, 26), rgba(78, 76, 76, 0)),*/
/*}
    .home .max-width 
    {
        margin: auto 0 auto 40px;
    }

    .home .home-content .text-1 {
        font-size: 27px;
        width:50%;

    }

    .home .home-content .text-2 {
        font-size: 38px;*/
        /* font-size: 55px; */
        /*font-weight: 600;
        margin-left: -3px;*/
        /* color: #9837CB; */
    /*}
.mynavbar .container .myheader .navbar-brand 
{
    color: whitesmoke;
    font-weight: bold;
    font-size: 20px;
}

  


button
{
    padding: 6px 6px;
    margin-bottom: 8px;
    border: 1px solid black;
    font-family: 'ubuntu', sans-serif;
    color: black;
}*/


/*footer styling*/
