@{
    ViewBag.Title = "About";
}

<h2>About us</h2>

<p>DoogNeeds connects dog owners with trusted people who love to look after dogs. From walks, playtime, and overnight stays on holidays, anyone can sign up to DoggyNeeds.</p>

<h3>How it works</h3>

<h4>1.Create a free profile</h4>
<p>fill out information of you and become a member of DoogNeeds. If you are owner please add details about your dog. Can add more than one dog.</p>

<h4>2.Have a Look around</h4>
<p>Look around other's profile. you can serch based on postcode </p>

<h4>2.Contact and meet up</h4>
<p>get to know each other very well before dog is taken care of another dog lovers.</p>