



<ul class="nav navbar-nav">

    <li>@Html.ActionLink("My Profile", "Index", "Borrowers", new { @class = "" }, new { @style = "color: whitesmoke; font-size: 15px;" })</li>

    <li>@Html.ActionLink("Find Dogs", "Index", "DogList", new { @class = "" }, new { @style = "color: whitesmoke; font-size: 15px;" })</li>
   



</ul>

