


<ul class="nav navbar-nav">

    <li>@Html.ActionLink("My Profile", "Index", "Owners", new { @class = "" }, new { @style = "color: whitesmoke; font-size: 15px;" })</li>



    <li>@Html.ActionLink("Edit your dog's detail", "Index", "Dogs", new { @class = "" }, new { @style = "color: whitesmoke; font-size: 15px;" })</li>

    <li>@Html.ActionLink("Look for Borrowers", "Index", "BorrowerList", new { @class = "" }, new { @style = "color: whitesmoke; font-size: 15px;" })</li>

  



</ul>

